.banner {
	background-image: url("banner.jpg");
	padding-top: 10px;
	padding-bottom: 5px;
  min-height: 100vh;
  background-position: center; /* Center the image */
  background-size: contain, cover;
}